@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: grid;
  place-items: center;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.7rem;
}
